<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ошибка</title>
    <style>
        body {
background-image: url(/static/img/weather.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: top left;
background-size: 100% 100%;
}
    </style>
</head>
<body>
<h1 style="text-align: center; margin-top: 20%; font-size: 50pt;">
    {{ text }}</h1>
<h1 style="font-size: 75pt; text-align: center; margin-top: 3%;">&#9785;</h1>
</body>
</html>